iframe{
}

div{
    /* border : 2px solid green; */
}

.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn{
    width:15%;
    border : 0;
    padding:10px;
    font-size:1.05rem;
    color: white;
    background-color: #42B72A;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius:5px;
    cursor: pointer;
    margin-top: 50px;
    font-weight: bold;  
}

.btn:hover{
    background-color: #37ce19;
}

.btn:disabled{
    background-color: #a0b1c6;
}

.frame-container{
    height: max-content;
    /* border:1px solid red; */
    display : flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    flex-wrap: wrap;
    margin-top: 60px;
    gap:10px;
}

.heading{
    color: #A8A8A8;
    font-size:1.15rem;
}



.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
